@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    @include desktop {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    &__left {
        @include desktop {
            width: 50%;
        }
    }


    &__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        
        &--avatar {
            flex-direction: column;
           
        }

        &__button {
            padding: 1rem;
            border-radius: 1rem;
            background-color: $yellow;
            border: none;
            font-size: 1.3rem;
            font-family: bold;
            color: $blackBackground;
            border: none;
            margin-bottom: 0rem;
            margin-top:2rem;
            transition: 0.3s ease-in-out;
    
            &:hover {
                cursor: pointer;
                background-color: $blackBackground;
                border: none;
                font-size: 1.1rem;
                color: $yellow;
            }
        }
    }

    &__label {
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
        color: $beige;
        font-family:bold;

        &--avatar {
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    &__input {
        padding: 0.5rem;
        font-size: 1rem;
        border: 0.5px solid $beige;
        border-radius: 1rem;
        padding-left: 1rem;
        color: $beige;

        &--text {
            padding-bottom: 4rem;
            resize: none;
        }
    }

    &__error {
        margin-top: 0.5rem;
        color: rgb(255, 83, 83);
        font-size: 0.9rem;
    }

    &__showPass {
        margin-top: 1rem;
        width: 4rem;
        border-radius:1rem;
        align-self:flex-end;
        margin-bottom:0;
        background:$yellow;
        border:none;
        padding:0.5rem;
        transition: 0.3s ease-in-out;
        color: $blackBackground;
        font-family: bold;

        &:hover {
            cursor: pointer;
            font-size: 0.7rem;
            background: $blackBackground;
            color:$yellow;
        }
    }
}

.avatar {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem;
    }

    &__button {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        border: 2px solid $white; 
        transition: 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            width: 7.5rem;
            height: 7.5rem;
        }

        &--1 {
            background: url("../../assets/images/profilePics/avatarFemale1.png");
            background-position: center;
            background-size:cover;
            margin-right: 1rem;
        }

        &--2 {
            background: url("../../assets/images/profilePics/avatarFemale2.png");
            background-position: center;
            background-size: cover;
            margin-right: 1rem;
        }

        &--3 {
            background: url("../../assets/images/profilePics/avatarFemale3.png");
            background-position: center;
            background-size: cover;
        }

        &--4 {
            background: url("../../assets/images/profilePics/avatarMale2.png");
            background-position: center;
            background-size: cover;
            margin-right: 1rem;
        }

        &--5 {
            background: url("../../assets/images/profilePics/avatarMale3.png");
            background-position: center;
            background-size: cover;
            margin-right: 1rem;
        }

        &--6 {
            background: url("../../assets/images/profilePics/avatarMale1.png");
            background-position: center;
            background-size: cover;
        }

        &--selected {
            transition: none;
            border: 5px solid $yellow; 
        }
    }
}
