@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    position: relative; 
    background-color: $darkerBackground;
    text-decoration: none;

    @include tablet {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    @include desktop {
        align-items: start;
        padding-right: 4rem;
        padding-left: 4rem;
    }


    &__title {
        font-size: 4.5rem;
        font-family: bold;
        width: 100%;
        text-align: center; 
        color: $darkBlue;
        background:none;
        text-decoration: none;

        @include tablet {
            font-size: 3rem;
        }

        @include desktop {
            text-align: start;
        }
    }
}
