@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    position: relative; 
    background-color: $darkerBackground;

    @include tablet {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    @include desktop {
        align-items: start;
        padding-right: 4rem;
        padding-left: 4rem;
    }

    &__menu {
        width: 2.5rem;
        position: absolute; 
        background:none;
        
        &:hover {
            cursor: pointer;
        }
    }

    &__title {
        font-size: 4.5rem;
        font-family: bold;
        width: 100%;
        text-align: center; 
        color: $darkBlue;
        background:none;

        @include tablet {
            font-size: 3rem;
        }

        @include desktop {
            text-align: start;
        }
    }

    &__about {
        display:none;

        @include tablet {
            display:flex;
            text-decoration: none;
            color: $darkBlue;
            font-size:1.1rem;
            transition: 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                font-size:1.15rem;
                font-family: bold;
            }

        }
        
    }
}
