@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.landing {
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: $blackBackground;

    @include desktop {
        flex-direction: row;
        justify-content: center;
        padding-top: 4rem;
        padding-bottom: 2rem;
        padding-right: 4rem;
        padding-left: 4rem;
    }

    &__left {
        @include desktop {
            width: 48%;
        }
    }

    &__right {
        @include desktop {
            width: 50%;
        }
    }
}

.hero {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    &__img {
        margin:0;
        width: 100%;
        margin-bottom:-4rem;
        margin-top: -2rem;

        @include tablet {
            width: 90%;
            margin-top: -2rem;
        }

        @include desktop {
            width: 90%;
        }
    }

    &__title {
        font-size: 1.7rem;
        text-align: center;
        margin-top: -4rem;
        color:$beige;
        font-family:bold;
    }
}

.landing__buttons {
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4rem;

    &__button {
        background-color: $yellow;
        width: 11rem;
        height: 4rem;
        color:$blackBackground;
        border-radius: 1rem;
        border:none;
        transition: 0.3s ease-in-out;
        font-size: 1.1rem;
        font-family:bold;

        &:hover {
            cursor: pointer;
            font-size: 1rem;
            color:$yellow;
            background-color: $blackBackground;
        }

        &--signup {
            background-color: $pink;

            &:hover {
                color:$pink;
            }
        }

        @include tablet {
            height:3.5rem;
            font-size: 1.3rem;
        }

    }
}

.about {
    display:flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    background-color: $blackBackground;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 4rem;

    @include desktop {
        background-color: $blackBackground;
        padding-left: 4rem;
    }

    &__heading {
        font-size: 1.6rem;
        font-family:bold;
        margin-bottom: 1rem;
        background:none;
        color:$pink;

        @include tablet {
            font-size: 1.8rem;
        }

        @include desktop {
           display:none;
        }
    }

    &__intro {
        font-size:0.9rem;
        margin-bottom: 2rem;
        background:none;
        color:$beige;

        @include tablet {
            font-size: 1rem;
        }

        @include desktop {
            display:none;
        }
    }
}

.features {
    display:flex;
    flex-direction:column;
    background:none;
    color:$blackBackground;

    &__title {
        font-size: 1.6rem;
        margin-bottom:1.5rem;
        font-family:bold;
        background:none;
        color:$pink;
        
        @include desktop {
            color:$pink;
        }
    }

    &__intro {
        display:none;
        
        @include desktop {
            display:flex;
            font-size:0.9rem;
            margin-top: 3rem;
            background:none;
            color:$beige;
        }
    }

    &__buttons {
        display:flex;
        gap:1rem;
        align-items: center;
        justify-content: center;
        background:none;

        @include tablet {
            gap: 2rem;
        }
        @include desktop {
            gap:1rem;
        }
    }

    &__button {
        border:none;
        width: 7rem;
        height: 7rem;
        font-size: 0.75rem;
        font-family: bold;
        border-radius: 50%;
        color: $blackBackground;
        background-color: $yellow;
        transition: 0.3s ease-in-out;

        @include tablet {
            width: 8rem;
            height: 8rem;
            font-size: 0.9rem;
        }

        @include desktop {
            width: 7rem;
            height: 7rem;
            font-size: 0.8rem;
            padding:1rem;
            background-color: $yellow;
            color:$blackBackground;
        }

        &:hover {
            background-color:$blackBackground;
            cursor: pointer;
            color:$yellow;
            font-size: 0.68rem;

            @include tablet {
                font-size: 0.8rem;
            }

            @include desktop {
                background-color: $blackBackground;
                font-size: 0.75rem;
                color: $yellow;
            }
        }
    }
}
